.sidebar-container {
  height: 100%;
  overflow-y: auto;
}

.sidebar-top {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.tree-item {
  padding: 8px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.tree-item:hover {
  background-color: #f1f3f5;
}

.active-tree-item {
  background-color: #dee2e6;
}

.leaf-spacing {
  width: 14px;
}

@media (max-width: 768px) {
  .sidebar-container {
    max-height: 300px;
  }
}